img {
  padding-left: 1%;
  padding-right: 1%;
  width: 8%;
  height: 8%;
}
.bg-custom {
  background-color: black;
}
.nav-link {
  width: 170%;
}
.nav-item {
  padding-right: 10%;
}

.flea-link {
  padding-left: 10%;
}
