<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- INstagram -->
      <a class="btn btn-dark btn-floating m-1"  href="https://www.instagram.com/blakegraviett_media/" target=”_blank” role="button"><img src="../../assets/images/icons/Instagram.png"></a>

      <!-- Twitter -->
      <a class="btn btn-dark btn-floating m-1" style="background-color: black" href="https://twitter.com/blakegraviett" target=”_blank” role="button"><img src="../../assets/images/icons/Twiiter.png" /></a>

      <!-- linkedin -->
      <a class="btn btn-dark btn-floating m-1" style="background-color: black" href="https://www.linkedin.com/in/blake-graviett-683025276/" target=”_blank” role="button"><img src="../../assets/images/icons/Linkedin.png" /></a>

      <!-- github -->
      <a class="btn btn-dark btn-floating m-1" style="background-color: black" href="https://github.com/blakegraviett?tab=repositories" target=”_blank” role="button"><img src="../../assets/images/icons/github.png" /></a>
    </section>
    <!-- Section: Social media -->



    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        This project was made as a one stop shop for any information about the game Escape From Tarkov.
        I am a digital programming student and an aspiring graphic design artist that loves this game but I know it can be confusing so I created
        a sight to help all find any information they need. I used a combination of a database I created as well as the tarkov.dev api that can be found <a href="https://tarkov.dev/api/" target=”_blank” >here</a>.
      </p>
    </section>
    <!-- Section: Text -->


  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <h5>Project created and designed by Blake Graviett</h5>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
