<br>
<!-- Give basic info on the selected item -->
<div class="row">
  <div class="col-md-3 d-flex justify-content-center">
    <img class="img-fluid" src="{{selectedItem.iconLink}}" />
    </div>
    <div class="col-md-3">
      <h1 class="center">NAME</h1> <p class="center itemInfo">{{selectedItem.name}}</p>
      </div>
      <div class="col-md-3 ">
        <h1 class="center">Best Buyer</h1> <p class="center itemInfo">{{this.sortByPrice().source}} at {{this.sortByPrice().price.toLocaleString('en-US')}}</p>
        </div>
        <div class="col-md-3">
          <h1 class="center">Price Per Slot</h1>
          <p class="center itemInfo">{{this.sortByPrice().pricePerSlot.toLocaleString('en-US')}} RUB per slot</p>
          </div>

</div>
<hr>
<!-- All ways to sell and item and at what price -->
<h1 class="center">All Buyers:</h1>
<br>
<br>
<div class="row">
<div class="col-md-1 sellFor" *ngFor="let sellFor of this.selectedItem.sellFor[0]">
  <img class="img-fluid traderIMG d-flex justify-content-center" src="{{this.fleaMarketService.checkTraderImg(sellFor.source)}}" />
  <h2 class="trader center">{{sellFor.source}}</h2>
    <!-- ! Check to see if the trader is Peacekeeper and if so change 'RUB' to 'USD' -->
  <p  *ngIf='sellFor.source != "peacekeeper"'class="center price">{{sellFor.price.toLocaleString('en-US')}} RUB</p>
  <p *ngIf='sellFor.source == "peacekeeper"'class="center price">{{sellFor.price.toLocaleString('en-US')}} USD </p>
</div>
</div>
<hr>

<!-- All ways to buy and item and at what price -->
<h1 class="center">All Sellers:</h1>
  <!-- ! If you cannot buy the item display "Item cannot be bought"-->
<h3 *ngIf="this.selectedItem.buyFor[0] == ''" class="trader center" style="color: red;">Item cannot be bought and must be found in raid or be crafted</h3>
<br>
<br>
<div class="row">
<div class="col-md-1 sellFor" *ngFor="let buyFor of this.selectedItem.buyFor[0]">
  <img class="img-fluid traderIMG d-flex justify-content-center" src="{{this.fleaMarketService.checkTraderImg(buyFor.source)}}" />
  <h2 class="trader center">{{buyFor.source}}</h2>
      <!-- ! Check to see if the trader is Peacekeeper and if so change 'RUB' to 'USD' -->
  <p  *ngIf='buyFor.source != "peacekeeper"'class="center price">{{buyFor.price.toLocaleString('en-US')}} RUB</p>
  <p *ngIf='buyFor.source == "peacekeeper"'class="center price">{{buyFor.price.toLocaleString('en-US')}} USD </p>
</div>
</div>
<hr>

<!-- Give the wiki link for more information -->
<p class="link center">For more info on "{{selectedItem.name}}" click <a target="_blank" href="{{selectedItem.link}}">here</a></p>

