.questTitle {
  padding-top: 5%;
  padding-bottom: 5%;
  text-shadow: 5px 5px 5px black;
  font-size: 400%;
}
.titleDiv {
  background-image: url(../../../../assets/images/background.jpg);
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 80%;
  margin: 0 auto;
}

#iframeDiv {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin: 0 auto;
}

.title {
  font-size: 300%;
}
