.searchDiv {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 1px;
}
input {
  color: black;
  margin-left: 10px;
}
label {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: x-large;
}

