img {
  height: 80%;
}
input {
  color: black;
  margin-left: 10px;
  margin-right: 5px;
}
label {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: x-large;
}
button {
  font-size: small;
}
.title{
  font-size: 350%;
}
img {
  padding-top: 2%;
  transition: ease 0.3s ;
}

img:hover {
  transform: scale(1.05);

}
