<h1 class="title center">FIND ANY MAP!</h1>
<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
<!-- Search Bar -->
    <form [formGroup]="searchItemForm" (submit)="onSubmit()">
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="map">Search: </label>
          <input
          placeholder="EFT MAP"
          type="text"
          name="map"
          id="map"
          formControlName="map"
          >
          <button type="submit" class="btn btn-success">Search</button>
  </div>
</div>
</form>
</div>
</div>
<br>
<hr>
<br>
<!-- * Ground Zero * -->
    <!-- ! RIGHT ! -->
    <div class="row">
      <div class="col-md-6">
        <h1 class="center">Ground Zero</h1>
        <p>The business center of Tarkov. This is where TerraGroup was headquartered. This is where it all began.</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img class="img-fluid" src="../../assets/images/USECCONTRACTWARSART.webp" />
        </div>
  </div>
  <!-- * Ground Zero * -->
  <hr>
<!-- * FACTORY * -->
    <!-- ! LEFT ! -->
<div class="row">
  <div class="col-md-6 d-flex justify-content-center">
    <img class="img-fluid" src="https://assets.tarkov.dev/tagilla-poster.jpg" />
  </div>
  <div class="col-md-6">
    <h1 class="center">FACTORY</h1>
    <p>The industrial estate and facilities of Chemical Plant No. 16 were rented out illegally to the TerraGroup corporation. During the advent of the Contract Wars,
      the plant became the scene of numerous firefights between BEAR and USEC that ultimately determined control over the industrial district of Tarkov. Later on, in
      the wake of the chaos, the plant facilities became a shelter for the remaining civilians, Scavs, and military operatives, including the scattered remains of the BEAR
      and USEC contingents.</p>
  </div>
  <!-- * FACTORY * -->
<hr>
  <!-- * CUSTOMS * -->
    <!-- ! RIGHT ! -->
  <div class="row">
    <div class="col-md-6">
      <h1 class="center">CUSTOMS</h1>
      <p>A large area of industrial park land situated adjacent to the factory zone. The area houses a customs terminal, fuel storage facilities, offices, and dorms, as well as a variety of other infrastructure and buildings.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img class="img-fluid" src="https://image.iggm.com/web/image/202302161623269105.webp" />
      </div>
</div>
<!-- * CUSTOMS * -->
<hr>
<!-- * Interchange * -->
    <!-- ! LEFT ! -->
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <img class="img-fluid" src="https://assets.tarkov.dev/killa-poster.jpg" />
      </div>
      <div class="col-md-6">
        <h1 class="center">Interchange</h1>
        <p>The South Interchange is a key transport location for the city. This strategic area connects the port and harbor with the industrial outskirts of Tarkov. Located in the center of the interchange is a huge ULTRA shopping mall which was used as the main base of operation for the EMERCOM evacuation.</p>
      </div>
  <!-- * Interchange * -->
  <hr>
    <!-- * Streets of Tarkov * -->
    <!-- ! RIGHT ! -->
    <div class="row">
      <div class="col-md-6">
        <h1 class="center">Streets of Tarkov</h1>
        <p>Downtown Tarkov houses banks, malls, and hotels, as well as all the other amenities a thriving metropolis could have needed.</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img class="img-fluid" src="https://assets.tarkov.dev/kaban-poster.jpg" />
        </div>
  </div>
  <!-- * Streets of Tarkov * -->
  <hr>
  <!-- * Woods * -->
    <!-- ! LEFT ! -->
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <img class="img-fluid" src="https://assets.tarkov.dev/shturman-poster.jpg" />
      </div>
      <div class="col-md-6">
        <h1 class="center">Woods</h1>
        <p>The Priozersk Natural Reserve recently became part of the state-protected wildlife reserves of the North-Western Federal District.</p>
      </div>
  <!-- * Woods * -->
  <hr>
  <!-- * Reserve * -->
    <!-- ! RIGHT ! -->
    <div class="row">
      <div class="col-md-6">
        <h1 class="center">Reserve</h1>
        <p>The secret Federal State Reserve Agency base that, according to urban legends, contains enough supplies to last for years: food, medications, and other resources, enough to survive an all-out nuclear war.</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img class="img-fluid" src="https://assets.tarkov.dev/glukhar-poster.jpg" />
        </div>
  </div>
  <!-- * Reserve * -->
  <hr>
<!-- * Lighthouse * -->
    <!-- ! LEFT ! -->
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <img class="img-fluid" src="https://insider-gaming.com/wp-content/uploads/2023/10/tarkov-halloween-event-top.jpg" />
      </div>
      <div class="col-md-6">
        <h1 class="center">Lighthouse</h1>
        <p>The lighthouse at Cape Dalniy was an important strategic object on the way to Tarkov. During Contract Wars, it was the main entry point for USEC units and served as their base of operations. After the conflict, Scavs took a fancy to this place, until the old owners returned, who decided to stay in Tarkov and establish their own order.</p>
      </div>
<!-- * Lighthouse * -->
<hr>
 <!-- * Shoreline * -->
    <!-- ! RIGHT ! -->
    <div class="row">
      <div class="col-md-6">
        <h1 class="center">Shoreline</h1>
        <p>The Shoreline area makes up a large part of the outskirts of Tarkov and is located next to the Port. The area houses a partially abandoned village, modern private housing, agricultural fields, long stretches of beach, a boating facility, gas station, weather station, and a cellular tower as well as other commercial facilities. Shoreline's main point of interest is the "Azure Coast" health resort which consists of several luxurious buildings and facilities. The resort is exclusively powered by a nearby hydroelectric power plant. The resort had previously been used as temporary accommodation for members of TerraGroup and the corporation's associated divisions in preparation for the evacuation of the Tarkov Port.</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img class="img-fluid" src="https://assets.tarkov.dev/sanitar-poster.jpg" />
        </div>
  </div>
  <!-- * Shoreline * -->
  <hr>
  <!-- * The Lab * -->
    <!-- ! LEFT ! -->
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <img class="img-fluid" src="https://assets.tarkov.dev/raider-poster.jpg" />
      </div>
      <div class="col-md-6">
        <h1 class="center">The Lab</h1>
        <p>Secret underground TerraGroup Labs facility hidden right under the center of Tarkov. Officially, this research center does not exist and, based on data scraps, is engaged in research and development as well as testing and simulation of projects in chemistry, physics, biology, and other high technology.</p>
      </div>
<!-- * The Lab * -->
