<br>

<div class="row">

<!-- ! IMG RIGHT ! -->
  <!-- * START: FLEA MARKET * -->
    <!-- ? IMAGE ? -->
  <div class="col-md-6 center">
<img class="img-fluid" src="../../assets/images/flea.png" />
  </div>
   <!-- ? INFO ? -->
  <div class="col-md-6 center">
    <h1>Live Flea Market</h1>
<p>Look up any current item in tarkov and see the price on the live player ran flea market.</p>
  </div>
<hr>
 <!-- * END: FLEA MARKET * -->


<!-- ! IMG LEFT ! -->
   <!-- * START: Quest * -->
    <!-- ? IMAGE ? -->
    <div class="col-md-6 center">
      <h1>Find Any Quest</h1>
      <p>Look up any current quest in tarkov and be able to see the information about that specidic task as well as a link to a youtube video explaining step by step on how to do the quest!</p>
        </div>
         <!-- ? INFO ? -->
        <div class="col-md-6 center">
          <img class="img-fluid" src="../../assets/images/quest.png" />
        </div>

      <hr>
       <!-- * END: Quest* -->


       <!-- ! IMG RIGHT ! -->
  <!-- * START: Hideout* -->
    <!-- ? IMAGE ? -->
  <div class="col-md-6 center">
    <img class="img-fluid" src="../../assets/images/hideout.png" />
      </div>
       <!-- ? INFO ? -->
      <div class="col-md-6 center">
        <h1>Hideout Needs</h1>
    <p>Here you can find every hideout upgrade, what they do, as well as what each station requires.</p>
      </div>
    <hr>
     <!-- * END: Hideout * -->


     <!-- ! IMG LEFT ! -->
   <!-- * START: Maps * -->
    <!-- ? IMAGE ? -->
    <div class="col-md-6 center">
      <h1>Find Any Map</h1>
      <p>Find a link to the best free version of any map in Escape From Tarkov!</p>
        </div>
         <!-- ? INFO ? -->
        <div class="col-md-6 center">
          <img class="img-fluid" src="../../assets/images/maps.png">
        </div>

      <hr>
       <!-- * END: Maps * -->


<!-- ! IMG RIGHT ! -->
  <!-- * START: Shopping List* -->
    <!-- ? IMAGE ? -->
    <div class="col-md-6 center">
      <img class="img-fluid" src="../../assets/images/shopping-list.png" />
        </div>
         <!-- ? INFO ? -->
        <div class="col-md-6 center">
          <h1>Shopping List</h1>
      <p>Make a list of any items you need to find when going into a specific raid. You can mark items for tasks, hideout upgrades, or just valuable items you want to keep, in order to keep inventory managment in raid fast.</p>
        </div>
       <!-- * END: Shopping List * -->







      </div>
