
<div class="row">
  <div class="col-md-12 titleDiv">
    <h1 class="center title">WELCOME TO EFT INFO!!</h1>
    <p class="center titleInfo">Here you can find any and all info you need to know about Escape From Tarkov</p>
  </div>
</div>
<br>
<hr>
<br>
<div class="row">
<!-- ! IMG LEFT ! -->
   <!-- * START: Quest * -->
    <!-- ? IMAGE ? -->
    <div class="col-md-6 center">
      <h1>Find Any Quest</h1>
      <p>Look up any current quest in tarkov and be able to see the information about that specidic task as well as a link to a youtube video explaining step by step on how to do the quest!</p>
        </div>
         <!-- ? INFO ? -->
        <div class="col-md-6 center">
          <a style="cursor: pointer" routerLink="/quest"><img class="img-fluid" src="../../assets/images/quest.png" /></a>
        </div>

      <hr>
       <!-- * END: Quest* -->


       <!-- ! IMG RIGHT ! -->
  <!-- * START: Hideout* -->
    <!-- ? IMAGE ? -->
  <div class="col-md-6 center">
    <a style="cursor: pointer" routerLink="/hideout"><img class="img-fluid" src="../../assets/images/hideout.png" /></a>
      </div>
       <!-- ? INFO ? -->
      <div class="col-md-6 center">
        <h1>Hideout Needs</h1>
    <p>Here you can find every hideout upgrade, what they do, as well as what each station requires.</p>
      </div>
    <hr>
     <!-- * END: Hideout * -->


     <!-- ! IMG LEFT ! -->
   <!-- * START: Maps * -->
    <!-- ? IMAGE ? -->
    <div class="col-md-6 center">
      <h1>Find Any Map</h1>
      <p>Find a link to the best free version of any map in Escape From Tarkov!</p>
        </div>
         <!-- ? INFO ? -->
        <div class="col-md-6 center">
          <a style="cursor: pointer" routerLink="/maps"><img class="img-fluid" src="../../assets/images/maps.png"></a>
        </div>

      <hr>
       <!-- * END: Maps * -->


       <!-- ! IMG RIGHT ! -->
  <!-- * START: Tarkov MARKET * -->
    <!-- ? IMAGE ? -->
  <div class="col-md-6 center">
    <a style="cursor: pointer" routerLink="/flea-market"><img class="img-fluid" src="../../assets/images/flea.png" /></a>
      </div>
       <!-- ? INFO ? -->
      <div class="col-md-6 center">
        <h1>Live Tarkov Market</h1>
    <p>Find any item in all of Escape From Tarkov and see what you can sell or buy it for! This even includes a live update of the player driven flea market.</p>
      </div>
    <hr>
     <!-- * END: FLEA MARKET * -->

<!-- ! IMG RIGHT ! -->
  <!-- * START: Shopping List* -->
    <!-- ? IMAGE ? -->
    <div class="col-md-6 center">
      <h1>Shopping List</h1>
      <p>Make a list of any items you need to find when going into a specific raid. You can mark items for tasks, hideout upgrades, or just valuable items you want to keep, in order to keep inventory managment in raid fast.</p>
        </div>
         <!-- ? INFO ? -->
        <div class="col-md-6 center">
          <a style="cursor: pointer" routerLink="/shopping-list"><img class="img-fluid" src="../../assets/images/shopping-list.png" /></a>
        </div>
       <!-- * END: Shopping List * -->







      </div>
