.card {
  background-color: black;
}
.card-title {
  font-size: xx-large;
  color: white;
}
img {
  width: 65%;
}

.btn-primary {
  background-color: #D5C1B7;
  border-color: #D5C1B7;
}
.btn-primary:hover {
  background-color: #6a4a37;
}

.title {
  font-size: 350%;
}
